<html>
    <head>
        <title>Painel - SRM</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        <link href="css/app.css" rel="stylesheet" type="text/css" >
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="css/admin.min.css" rel="stylesheet" type="text/css" >
    </head>
    <body>
        <header class="top-bar">
            <div class="row">
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <ul class="admin-menu">
                        <li class="menu-item">
                            <a href="dashboard" class="menu-link">
                                <i class="fa fa-home"></i> Aleah Bancas
                            </a>
                            <ul class="admin-submenu">
                                <li class="admin-submenu-item">
                                    <a href="http://indiquelucre.com.br/" target="_blank" class="admin-submenu-link">
                                        Visitar site
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6 col-sm-6 col-md-6 col-xs-12">
                    <ul class="admin-actions pull-right">
                        <li class="menu-item">
                            <a href="" class="menu-link">
                                <i class="fa fa-user"></i> Olá User
                            </a>
                            <ul class="admin-actions-submenu">
                                <li class="admin-actions-submenu-item">
                                    <a href="" class="admin-actions-submenu-link">
                                        User
                                        <span class="username">user</span>
                                    </a>
                                </li>
                                <li class="admin-actions-submenu-item">
                                    <a href="" class="admin-actions-submenu-link">
                                        Editar Meu Perfil
                                    </a>
                                </li>
                                <li class="admin-actions-submenu-item">
                                    <a href="" class="admin-actions-submenu-link">
                                        Sair
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </header>