        <aside class="sidebar">
            <ul class="sidebar-menu">
                <li class="sidebar-menu-item">
                    <a href="dashboard" class="sidebar-menu-link">
                        <i class="fa fa-dashboard"></i> <span class="sidebar-menu-label">Painel</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a href="indicacoes" class="sidebar-menu-link">
                        <i class="fa fa-hand-pointer-o"></i> <span class="sidebar-menu-label">Indicações</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a href="comissoes" class="sidebar-menu-link">
                        <i class="fa fa-money"></i> <span class="sidebar-menu-label">Comissões</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-submenu-item">
                            <a href="comissoes-por-lote" class="sidebar-submenu-link">Por Lote</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a href="comissoes-por-banca" class="sidebar-submenu-link">Por Banca</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a href="comissoes-por-lead" class="sidebar-submenu-link">Por Lead</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a href="consultar-bancas" class="sidebar-menu-link">
                        <i class="fa fa-newspaper-o"></i> <span class="sidebar-menu-label">Bancas</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-submenu-item">
                            <a href="consultar-bancas" class="sidebar-submenu-link">Todas as Bancas</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a href="cadastrar-banca" class="sidebar-submenu-link">Adicionar Nova</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a href="relatorios" class="sidebar-menu-link">
                        <i class="fa fa-file-text-o"></i> <span class="sidebar-menu-label">Relatórios</span>
                    </a>
                </li>
                <li class="sidebar-menu-item">
                    <a href="consultar-corretores" class="sidebar-menu-link">
                        <i class="fa fa-users"></i> <span class="sidebar-menu-label">Corretores</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-submenu-item">
                            <a href="consultar-corretores" class="sidebar-submenu-link">Todos os Corretores</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a href="cadastrar-corretor" class="sidebar-submenu-link">Adicionar Novo</a>
                        </li>
                    </ul>
                </li>                    
                <li class="sidebar-menu-item">
                    <a href="consultar-usuarios" class="sidebar-menu-link">
                        <i class="fa fa-user"></i> <span class="sidebar-menu-label">Usuários</span>
                    </a>
                    <ul class="sidebar-submenu">
                        <li class="sidebar-submenu-item">
                            <a href="consultar-usuarios" class="sidebar-submenu-link">Todos os Usuários</a>
                        </li>
                        <li class="sidebar-submenu-item">
                            <a href="cadastrar-usuario" class="sidebar-submenu-link">Adicionar Novo</a>
                        </li>
                    </ul>
                </li>
                <li class="sidebar-menu-item">
                    <a href="#" id="btn-collapse-sidebar" class="btn-collapse-sidebar">
                        <i class="fa fa-chevron-circle-left"></i> <span class="sidebar-menu-label">Recolher menu</span>
                    </a>
                </li>
            </ul>               
        </aside>