<% include templates/header %>
<% include templates/sidebar %>
		<div class="wrap">
	        <div class="container-fluid">
	            <div class="row">
	                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
	                    <h2 class="page-title">Painel</h2>
	                </div>
	            </div>
	            <div class="row">
	                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
	                    <div class="metabox">
	                        <div class="metabox-title">
	                            Comissões
	                        </div>                        
	                        <div class="metabox-content">
	                            <div class="row">
	                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
	                                    <div class="card-box bg-purple">
	                                        <p class="card-box-title text-center text-white text-uppercase">
	                                            COMISSÕES PAGAS
	                                        </p>
	                                        <p class="card-box-value text-center text-white">
	                                            5437
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
	                                    <div class="card-box bg-light-blue">
	                                        <p class="card-box-title text-center text-white text-uppercase">
	                                            COMISSÕES PENDENTES
	                                        </p>
	                                        <p class="card-box-value text-center text-white">
	                                            111
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
	                                    <div class="card-box bg-pink">
	                                        <p class="card-box-title text-center text-white text-uppercase">
	                                            COMISSÕES INELEGÍVEIS
	                                        </p>
	                                        <p class="card-box-value text-center text-white">
	                                            284
	                                        </p>
	                                    </div>
	                                </div>
	                                <div class="col-lg-3 col-sm-3 col-md-3 col-xs-12">
	                                    <div class="card-box bg-green">
	                                        <p class="card-box-title text-center text-white text-uppercase">
	                                            COMISSÕES EM ANÁLISE
	                                        </p>
	                                        <p class="card-box-value text-center text-white">
	                                            49
	                                        </p>
	                                    </div>
	                                </div>
	                            </div>
	                            <div class="row">
	                                <div class="col-lg-12 col-sm-12 col-md-12 col-xs-12">
	                                    <a href="" class="btn-action">Pagar</a>
	                                </div>
	                            </div>
	                        </div>                        
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>